h2
{
    color: green;
    font-style: oblique;
    font-size: 20px;
    border: 10px;
}
.course
{
display: flex;
/* display: block; */
}
.part1,.part2,.part3,.part4
{
    width: 25%;
    height: 35%;
   /* margin: 10px; */
   padding: 10px;
   border: 20px black;
 display: block;
}
img{
    width: 200px;
    height: 100px;
}
