*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* .main{
    background-color: green;
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    color: black;
}
.content{
    align-items: center;
    text-align: center;
}
body{
    color: #080808;
    text-align: center;
} */
body {
    background-color: #05c46b;
    font-family: Verdana;
    text-align: center;
} 
.main{
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
 padding: 30px 20px; 
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); 
}
.content{
    text-align: left;
    margin-bottom: 25px;
}
.content label {
    display: block;
    margin-bottom: 10px;
}
.content input,
.content select,
.content textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
.content input[type="radio"],
.content input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}